* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url(./bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
}


.container {
    animation: bounceIn 1s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 90%;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);
}

.Products, .Cart {
    width: 100%;
    padding: 10px;
    border: 2px solid #403f7a;
    border-radius: 5px;
    background-color: #ffffffb9;
}

.Cart {
    margin-top: 20px;
}

.decrement,
.increment {
    font-size: 1.5em; 
}

.btn {
    background-color: #0026B1;
    padding: 6px 12px;
    width: 80px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #00bbfa8c;
    border-radius: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    color: white;
}
.btn span {
    margin: 0 4px; 
}


.btn:hover {
    background-color: #00BCFC;
}

@keyframes bounceIn {
    0% {
        transform: scale(0.1);
        opacity: 0;
    }
    60% {
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(1);
    }
}



@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .Products, .Cart {
        width: 100%;
    }

    .btn {
        width: 60px;
        padding: 4px 8px;
    }
}